* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
figure {
  /* width: 100%; */
}
.App {
  width: 100%;
  height: 100vh;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.App-Card {
  max-width: 350px;
  height: 590px;
  display: flex;
  flex-direction: column;
  background: #15263f;
  color: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 15px;
}
.MainFigure {
  position: relative;
  width: 100%;
  height: 100%;
}
.Quilimg {
  width: 100%;
  height: 297px;
  position: absolute;
  border-radius: 8px;
  cursor: pointer;
}
.TigerEye {
  background: rgba(0, 255, 248, 0.5);
  padding: 43%;
  cursor: pointer;
  border-radius: 8px;
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
}

.MainFigure:hover .TigerEye {
  visibility: visible;
}
.topText {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-bottom: 20px;
  gap: 20px;
}
h3 {
  width: 100%;
  font-size: 20px;
  font-family: sans-serif;
  cursor: pointer;
}
h3:hover {
  color: cyan;
}
p {
  font-size: 18px;
  font-weight: 300;
  color: #8bacd9;
  padding-bottom: 10px;
}
.EtherTextParent {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.5px solid #2e405a;
  padding-bottom: 20px;
}
.Etherium {
  width: 11px;
  height: 18px;
  position: relative;
}
.EtherSpan,
.ClokSpan {
  display: flex;
}
.EtherSpan span {
  color: #00fff8;
  font-size: 16px;
  font-weight: 600;
  margin-left: 8px;
}
.ClokSpan span {
  margin-left: 8px;
  color: #8bacd9;
}

.Liner {
  width: 100%;
  color: #2e405a;
  margin-top: 20px;
  height: 1px;
  background-color: #2e405a;
}
.CardFooter {
  width: 100%;
  padding-top: 10px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.Jules {
  width: 33px;
  height: 33px;
  border: 1px solid #fff;
  border-radius: 50px;
}
.JulesSpan {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
}
.JulesSpan:hover {
  color: cyan;
}
